.Dice li {
    display: inline;
}

img {
    max-width: 50px;
    max-height: 50px;
}

#Value-Container{
    display: grid;
    grid-template-columns: auto auto;
}

#Value-Container input {
    width: 10%;
}